.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.icon-badge {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: -3px;
}

.icon-badge__screen-find {
  left: 87px;
  top: -7px;
}

.icon-badge__screen-more {
  left: 132px;
  top: -7px;
}
