.nav {
  background-color: var(--gray);
  padding: 20px 40px;

  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  left: 12px;
  top: -9px;
}

.nav__confirm {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  left: 20px;
}
