.screen-header {
  padding: var(--horizontal-space);
  padding-top: var(--screenheader-topspace);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 700;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header__icons {
  position: relative;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
