@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* 파일순서 지키기 */
@import 'reset.css';
@import 'variables.css';

/* Compopnents */
@import 'component/status-bar.css';
@import 'component/nav-bar.css';
@import 'component/screen-header.css';
@import 'component/user-component.css';
@import 'component/badge.css';

/* screens */
@import 'screens/login.css';
@import 'screens/friends.css';

body {
  color: #2e363e;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
